<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory>tests/php</directory>
		</testsuite>
	</testsuites>
	<!--
		Integration tests that make real external HTTP requests are tagged
		@group external-http and excluded by default. Run them explicitly by
		requesting the external-http group on the phpunit command line.
	-->
	<groups>
		<exclude>
			<group>external-http</group>
		</exclude>
	</groups>
    <php>
        <ini name="xdebug.mode" value="coverage" />
    </php>
    <logging>
        <testdoxXml outputFile="build/logs/xml.log" />
        <testdoxHtml outputFile="build/logs/html.log" />
        <text outputFile="build/logs/text.log"/>
    </logging>

    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/report" />
        </report>
    </coverage>
</phpunit>
